*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
html { 
  overflow-y: scroll; 
  overflow-x: hidden;
}
body
{
	background-color: rgba(255, 254, 118,.3);
	height: 100%;
}
.highlight
{
	font-weight: bold;
	text-decoration: underline;
}
#navContainer
{
	position: relative;
}
#navbar{
	background-image: url("../img/bgRepeat.png");
	position: relative;
	top: 0;
	display: inline-block;
	width: 100%;
	padding: 0 0 0 0;

}
#imgCol
{
	padding: 0;
}
#headImg
{
	height: 75px;
	margin: 0;
}
#navRow{
	margin: 0;
}
#buttonRow
{
	margin: 0;
}
#dropLink
{
    float: right;
    font-size: 20px;
    color: white;
    padding: 22px 0;
}
#dropLink:hover
{
	background-color: rgba(239,172,211, 0.8);
}

#email
{
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color:rgba(8, 151, 0,0.9);
	padding: 0 10px;
	visibility: hidden;
}
#emailRow
{
	padding: 5px 15px;
}
#email h3
{
	margin: -5px 0 0 0;
	float: left;
}
#emailInput
{
	float: right;
	font-size: 22px;
}
#emailButton
{
	float: right;
}
#emailPop
{
	width: 480px;
	height: 520px;
	background-color: #49DE41;
	margin: 25px auto;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
	display: flex;
	position: relative;
	top: 100px;
}
#emailPop h1
{
	text-align: center;
	font-style: italic;
	margin-bottom: 60px	;
}
#emailPop input
{
	width: 100%;
	font-size: 20px;
}
#emailPopInfo
{
	position: absolute;
	bottom: 20px;
	width: 87%;
	margin: auto;
}
#borderDiv
{
	width: 97%;
	height: 97%;
	border: solid 2px black;
	margin: auto;
	padding: 0 20px;
	background-color: #efacd3;
}
#exitButton{
	width: 35px;
	height: 35px;
	position: absolute;
	top: -1px;
	left: -35px;
	cursor: pointer;
}
#topDeal
{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 400px;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
	width: 90%;
}
#tableDiv
{
	padding: 0;
}
#tableDiv h1
{
	background-color: #49DE41;
	text-align: center;
	height: 45px;
	margin: 0;
}
.row
{
	margin-top: 20px;
	margin-bottom: 20px;
}
#topDeal h1
{
	text-align: center;
}
#hoursTable
{
	width: 100%;
	text-align: center;
	height: 355px;
	float: right;
	background-color: white;
}
#hoursTable th
{
	text-align: center;
	font-size: 20px;
	background-color: #DB419B;
}
#hoursTable td
{
	width: 50%;
}
#even td
{
	background-color: #71E76B;
}
#odd td
{
	background-color: #E56AB2;
}
#mapContainer, #facebookContainer
{
	width: 90%;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
	background-color: unset;
}
#extraLinks
{
	background-color: unset;
	margin-bottom: 0px;
}
#extraLinks img
{

	width: 100%;
}
#extraLinks div
{
	padding: 0;
}
#facebookContainer{
	background-color: #C9D1E2;
}
#facebookIcon
{
	height: 400px;
	float: right;
	margin: 0;
			background-color: #3B5998;

}
#facebookContainer h1
{
	margin-bottom: 20px;
}
#imageColumn
{
		padding-right: 0;
}
#facebookButton
{
	border: solid 3px #3B5998;
	width: 160px;
	height: 60px;
	line-height: 57px;
	margin: 40px auto;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #3B5998;
}
#facebookButton:hover
{
	cursor: pointer;
	background-color: white;
	color: #3B5998;
	font-weight: bold;
}
#mailColumn
{
	padding: 0;
	background-color: #efacd3;
}
#emailContainer
{
	background-color: #efacd3;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
	width: 90%;

}
#emailContainer h3
{
	font-size: 25px;
}
#mailInput
{
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
}
#emailButton
{
	width: 100%;
	margin: 10px 0 20px;
}
h1
{
	margin-top: 20px;
}
#footer
{
	background-color: #71E76B;
	position: relative;
	bottom: -20px;
	margin-top: -40px;
}
#topFooter
{
	height: 60%;
	background-color: #E56AB2;
	text-align: center;	
}
#botFooter
{
	min-height: 80px;
}
#botFooter h3
{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 15px;
}
#botFooter p
{
	text-align: center;
	margin-bottom: 0;
}
#imgLinks img
{
	width: 75px;
	margin: 40px 5px;
}
#imgLinks img:hover
{
	cursor: pointer;
}
#textLinks a
{
	width: 20%;
	font-size: 25px; 
	margin: 0 10px;
	text-decoration: none;
	color: black;
}

.carousel
{
	max-width: 1500px;
	margin: auto;
	background-color: gray;
}
/*Sub Pages*/
#subHeader
{
	text-align: center;
	font-size: 50px;
	margin: 20px;
}
#mainShopView
{
	background-color: rgba(113, 231, 107, 0.3);
	margin-bottom: 50px;
	padding: 0;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
}
#shopText h3
{
	text-align: center;
	margin: 10px 0 10px 15px;
	border-bottom: solid 1px black;
}
#shopText p
{
	margin: 10px 0 10px 15px;
}
#shopCar img
{
	height: 400px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 600px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.3);

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
  cursor: pointer;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#galImg
{
	width: 100%;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
}
#galImg:hover
{
	cursor: pointer;
}
#imgGallery
{
	margin-bottom: 50px;
	background-color: unset;
}
#aboutMapContainer{
		width: 90%;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
	background-color: rgba(113, 231, 107, 0.3);
	margin-bottom: 50px;
}
#aboutMapContainer h3
{
	text-align: center;
	margin: 20px 20px 40px 20px;

}
#whoContainer
{
	width: 90%;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
	padding-right: 0;
	padding-left: 0px;
	background-color: rgba(229, 106, 178, 0.3);
}
#whoContainer h3
{
	margin-top: 50px;
	text-align: center;
}
#whoContainer p
{
	margin-top: 50px;
	padding: 0 25px;
}
#messageCol
{

	background-color: white;
	box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
	margin: 20px 40px;
	padding: 15px;
}
#messageCol h1
{
	text-align: center;
	margin: 10px 20px 25px 10px;
	border-bottom: solid 1px black;
}
#messageCol p
{
	margin-bottom: 5px;
}
#messageCol input, #messageCol textarea
{
	width: 100%;
}
#messageCol button
{
	margin: auto;
	display: block;
	width: 100%;
}
#fbButton,#mailingButton
{
	text-align: center;
	width: 100%;
}
#fbButton
{
	border: solid 3px #3B5998;
	height: 60px;
	line-height: 57px;
	margin: 20px auto;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #3B5998;
}
#fbButton:hover
{
	cursor: pointer;
	background-color: white;
	color: #3B5998;
	font-weight: bold;
}
#mailingButton
{
	border: solid 3px rgb(229, 106, 178);
	height: 60px;
	line-height: 57px;
	margin: 20px auto;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: rgb(229, 106, 178);
}
#mailingButton:hover
{
	cursor: pointer;
	background-color: rgb(113, 231, 107);
	color: rgb(229, 106, 178);
}
.hoverImg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  background-color: red;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(229, 106, 178);
}

#hoverCont:hover .hoverImg {
  opacity: 0.3;
  cursor: pointer;
}

#hoverCont:hover .middle {
  opacity: 0.5;
  cursor: pointer;
}
#hoverText
{
	color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#hoverText h1
{
	font-size: 50px;
}


/*Media Queries*/
@media screen and (max-width: 1700px)
{

}
@media screen and (max-width: 1200px)
{

}
@media screen and (max-width: 992px)
{

		#facebookIcon
		{
			margin: 0 25%;
		}
		#imageColumn
		{
			background-color: #3B5998;
		}
		#mailColumn
		{
			background-color: #d41c86;
		}
}
@media screen and (max-width: 768px)
{

			#facebookIcon
		{
			margin: 0 14%;
		}	
}@media screen and (max-width: 576px)
{
	#extraLinks div
	{
		margin: 5px;
	}
	#facebookIcon
	{
		width: 100%;
		margin: 0;
	}
	#emailPop
	{
		width: 350px;
		height: 575px;
	}
	#exitButton
	{
		left: -1px;
	}
}